In [4]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# 1. Read the data
df = pd.read_csv('adult.csv')

ModuleNotFoundError: No module named 'pandas'

read the data

In [1]:

df = pd.read_csv('adult.csv')

NameError: name 'pd' is not defined

Display the first 5 rows of the dataset.

In [ ]:
df.head()

summary of the DataFrame

In [ ]:
df.info()

descriptive statistics for numeric columns

In [ ]:
df.describe()

Display the column names of the DataFrame.

In [ ]:
df.columns

unique values in the 'workclass' column.

In [ ]:
df['workclass'].unique()

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

In [ ]:
df['income_binary'] = df['income'].apply(lambda x: 1 if x.strip() == '>50K' else 0)

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [ ]:
def categorize_age(age):
    if age < 30:
        return 'Youth'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

df['age_group'] = df['age'].apply(categorize_age)

Rename the 'educational-num' column to 'education_num'.

In [ ]:
df.rename(columns={'educational-num': 'education_num'}, inplace=True)

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [ ]:
df['workclass'] = df['workclass'].str.strip().replace('?', 'Unknown')
df['occupation'] = df['occupation'].str.strip().replace('?', 'Unknown')
df['native-country'] = df['native-country'].str.strip().replace('?', 'Unknown')

Calculate the average age for each workclass.

In [ ]:
df.groupby('workclass')['age'].mean()

Find the total capital-gain for each gender.

In [ ]:
df.groupby('gender')['capital-gain'].sum()

Get the count of each marital-status category.

In [ ]:
df['marital-status'].value_counts()

Find the mean hours-per-week worked by individuals in different education levels.

In [ ]:
df.groupby('education')['hours-per-week'].mean()

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

In [ ]:
df.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std'])

Get the unique values and their counts for the 'native-country' column

In [ ]:
df['native-country'].value_counts()

Filter the dataset to include only individuals with income >50K.

In [ ]:
high_income = df[df['income'].str.strip() == '>50K']
high_income.head()

Sort the dataset by age in descending order.

In [ ]:
df.sort_values('age', ascending=False).head()

Filter the dataset to include only individuals who work more than 40 hours per week.

In [ ]:
df[df['hours-per-week'] > 40]

Calculate the percentage of missing values in each column.

In [ ]:
(df == '?').mean() * 100   # or more accurately:
missing_pct = (df.applymap(lambda x: str(x).strip() == '?').sum() / len(df)) * 100
missing_pct

Calculate the median income by education level and gender.

In [ ]:
df.groupby(['education', 'gender'])['income_binary'].median()

Find the top 3 occupations with the highest average capital-gain.

In [ ]:
df.groupby('occupation')['capital-gain'].mean().nlargest(3)

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.

In [ ]:
married_high = df[(df['marital-status'].str.strip() == 'Married-civ-spouse') & 
                  (df['income'].str.strip() == '>50K')]
married_high.head()

Create 5 different charts and write your observations from the chart as comment

In [ ]:
# 24. Create 5 different charts + observations (as comments)

# Chart 1: Distribution of Age
plt.figure(figsize=(8,5))
plt.hist(df['age'], bins=30, edgecolor='black', alpha=0.7)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()
# Observation: The age distribution is right-skewed. Most people are between 20–50 years old.

# Chart 2: Income proportion by Gender
plt.figure(figsize=(6,5))
df.groupby('gender')['income_binary'].mean().plot(kind='bar', color=['lightblue', 'salmon'])
plt.title('Proportion Earning >50K by Gender')
plt.ylabel('Proportion')
plt.xticks(rotation=0)
plt.ylim(0, 0.4)
for i, v in enumerate(df.groupby('gender')['income_binary'].mean()):
    plt.text(i, v + 0.01, f'{v:.3f}', ha='center')
plt.show()
# Observation: Males have ~3 times higher chance of earning >50K than females.

# Chart 3: Hours per week by Education (boxplot)
plt.figure(figsize=(12,6))
df.boxplot(column='hours-per-week', by='education', rot=45)
plt.title('Hours per Week by Education Level')
plt.suptitle('')
plt.xlabel('Education')
plt.ylabel('Hours per Week')
plt.show()
# Observation: People with Prof-school and Doctorate tend to work more hours (median ~45–50).

# Chart 4: Marital Status distribution
plt.figure(figsize=(8,8))
df['marital-status'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title('Marital Status Distribution')
plt.ylabel('')
plt.show()
# Observation: Nearly half the dataset is "Married-civ-spouse", followed by "Never-married".

# Chart 5: Capital Gain vs Age (scatter)
plt.figure(figsize=(10,6))
plt.scatter(df['age'], df['capital-gain'], alpha=0.5, c=df['income_binary'], cmap='coolwarm')
plt.colorbar(label='Income >50K (1) / <=50K (0)')
plt.title('Capital Gain vs Age')
plt.xlabel('Age')
plt.ylabel('Capital Gain')
plt.show()
# Observation: Almost all capital-gain = 0. High capital gains (>20k) occur mostly in age 30–70 and strongly correlate with income >50K.